/* src/Sidebar.css */

.sidebar {
  position: fixed;
  top: 20px;
  left: -800px; 
  width: 800px;
  height: 100vh;
  color: white;
  background: #015761;
  padding: 20px;
  z-index:50;
}

.sidebar.open {
  left: 0;  /* When sidebar is open, slide in */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .sidebar {
    width: 500px;
    height: 100vh;
    background-color: #015761;
  }
}

@media screen and (max-width: 425px) {
  .sidebar {
    width: 300px;
    height: 420px;
    background-color: #015761;
  }
}
@media screen and (max-width: 375px) {
  .sidebar {
    width: 270px;
    height: 440px;
    background-color: #015761;
  }
}
